*::selection {
	background: #333333;
	color: #aaaaaa;
}
body {
	background: #fdfdfd;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: #333333;
}

.container {
	width: 640px;
	margin-right: auto;
	margin-left: auto;
	*zoom: 1;
	padding-top: 40px;
}

.content {
	display: none;
	margin-top: 0;
}

.head {
	display: block;
}

img {
	margin: /*-1px*/ 0;
	padding: 0;
	display: block;
}

h1,
h2,
h3 {
	font-weight: 900;
	text-align: center;
	font-size: 4em;
}

h2,
h3 {
	font-weight: 900;
	font-size: 2em;
}


a, a:visited {
	color: #333333;
	text-decoration: none;
	transition:all 400ms ease;
	-webkit-transition:all 400ms ease;
	-moz-transition:all 400ms ease;
}

a:hover {
	color: #aaaaaa;
	text-decoration: none;
}

p {
	line-height: 1.5em;  
}

p.theme {
	margin: 0;
	font-style: italic;
	color: #aaa;
}

ul {
	list-style: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
	
}
li {	
	position:relative;
	overflow:hidden;
	list-style-position: outside;
}

hr {
	height: 1px;
	margin: 20px 0 0 0;
	padding: 0;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	border: 0;
  clear: both;
}
hr.bottom {
	margin: 0;
	padding: 0;
}

a.btn {
	margin: 40px 0;
	padding: .5em 1em;
	background: #333333;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	float: right;
	text-align: center;
	color: #ffffff;
	box-shadow: 0 3px 0px #000000;
	transition:all 400ms ease;
	-webkit-transition:all 400ms ease;
	-moz-transition:all 400ms ease;
}

a.btn:hover {
	background: #222222;
	;
}

@media only screen and (max-width: 640px) {
	.container {
		width: 94%;
	}

	a.btn {
		display: block;
	}
}