<html>
<head>
	<meta charset="utf-8">
  <title>Common Prayer | Genesis Toledo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="As a community we long to be shaped and formed in the same direction. One of the ways we pursue this is through praying together. Morning, midday &amp; evening.">
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link href="/assets/css/app.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Raleway:900,200' rel='stylesheet' type='text/css'>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <script>
      $(document).ready(function(){
        
        $('.head').click(function(e){
          e.preventDefault();
          $(this).closest('li').find('.content').not(':animated').slideToggle();
        });
      });
    </script>

</head>
<body>
	<div class="container">
      <header>
        <h1>Common<br/>Prayer</h1>

	<%= yield %>


		<footer>
			<a href="about" class="btn" style="clear:both;">?</a>
    </footer>

  </div>

</body>
</html>